#legions{
    display: flex;
}
.legion{
    display: inline-block;
    width: calc(50% - 5px);
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(white,whitesmoke);
    margin-bottom: 10px;
    padding: 15px 25px;
    outline: solid 1px lightgray;
    outline-offset: -5px;
}
.legion > .legion-info{
    border-bottom: solid 1px darkblue;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.legion-grade{
    background: #8193DA;
    box-shadow: inset 0 0 8px #9ec3f3;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
    width: 55px;
    text-align: center;
    margin-right: 10px;
    border-radius: 4px;
}
.legion > .legion-info > .legion-name{
    position: relative;
    padding-left: 15px;
}
.legion > .legion-info > .legion-name:before{
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: #818B93;
}
.legion > .legion-info > .legion-name > .legion-name-en,
#legion-summary > #legion-name > #legion-name-en
{
    color: #979DB5;
    font-size: 12px;
    line-height: 12px;
    font-weight: bolder;
}
.legion > .legion-info > .legion-name > .legion-name-en:before,
#legion-summary > #legion-name > #legion-name-en:before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 3px;
    background: #979DB5;
    margin-right: 4px;
    margin-bottom: 3px;
}
.legion > .legion-info > .legion-name > .legion-name-ja{
    font-size: 18px;
}

/* 詳細 */
#legion-summary{
    margin-top: -60px;
    background: whitesmoke;
    padding: 75px calc(50vw - 650px) 10px;
    box-shadow: 0 0 4px gray;
    display: flex;
    align-items: center;
}
#legion-summary > #legion-name{
    padding-left: 10px;
    margin-right: 5px;
}
#legion-summary > #legion-name > #legion-name-en{
    font-size: 15px;
    color: gray;
}
#legion-summary > #legion-name > #legion-name-ja{
    font-size: 30px;
    font-weight: bold;
}
#legion-summary > #legion-name > #legion-name-ja > span{
    margin-left: 5px;
    font-size: smaller;
}
.more-info{
    background: #8D9FCB;
    box-shadow: 0 3px 0 #C1D1F6;
    text-shadow: 0 0 3px dimgray;
    color: white;
    padding: 3px 10px;
    margin-left: 10px;
}
.jobTitle{
    background: #7A8DFE;
    color: white;
    text-align: center;
    font-size: 13px;
}
