body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    min-width: 1320px;
    overflow-y: scroll;
    background-color: #F4F5F9;
    background-image: repeating-linear-gradient(0deg,  #DEE0EC, #DEE0EC 1px, transparent 2px, transparent 100px),
                      repeating-linear-gradient(90deg, #DEE0EC, #DEE0EC 1px, transparent 2px, transparent 100px);
    background-attachment: fixed;
    background-position: top center;
    animation: 1s ease fade-in;
}
body[data-pagetype="back-triangle"]{
    background-image: repeating-linear-gradient(0deg,  #DEE0EC, #DEE0EC 1px, transparent 2px, transparent 100px),
                      repeating-linear-gradient(90deg, #DEE0EC, #DEE0EC 1px, transparent 2px, transparent 100px),
                      linear-gradient(115deg, #E4E7EE, #E4E7EE 30%, transparent 30%, transparent);
}

header{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
    padding-top: 6px;
    width: 100%;
    min-width: 1300px;
    background: linear-gradient(#23232D, #23232D 5px, #F9FAFC 5px, #F9FAFC);
    overflow: hidden;
    box-shadow: 0 0 3px darkgray;
    cursor: default;
    animation: .8s ease-out header-float-in;
}
header > div#title{
    font-size: 25px;
    padding-left: calc(50vw - 650px);
    padding-right: 40px;
    height: 60px;
    min-width: 350px;
    margin: -6px 0 0 0;
    color: #F9FAFC;
    line-height: 55px;
    background: linear-gradient(295deg, transparent, transparent 30px, #23232D 31px, #2D3049);
    flex-shrink: 0;
    font-weight: normal;
}
header > div#title > h1{
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}
header > div#title > a{
    display: inline-block;
    background: linear-gradient(90deg, #56649D, #475795);
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 40px;
    margin: 0 10px;
    color: #90ADFF;
    box-shadow: 0 0 4px black;
}
header > *:last-child{
    padding-right: calc(50vw - 650px);
    flex-shrink: 0;
}

header > #info{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
}
header > #info > #date{
    position: relative;
    background: #EFF1FD;
    width: 50px;
    box-shadow: inset 0 0 8px #cfd4ff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding: 3px 0;
    font-weight: 500;
    line-height: 16px;
    margin-right: 15px;
    font-size: 17px;
}
header > #info > #date::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 3px;
    background: cornflowerblue;
}
#date > #date-month{
    color: cornflowerblue;
    font-size: 15px;
}
header > #info > a{
    color: inherit;
    text-decoration: none;
}
header > #info > a > i.fas{
    margin-right: 8px;
}
header > #info > #clock-wrap{
    position: relative;
}
#clock-wrap > #clock{
    font-weight: 500;
    font-size: 17px;
}
#clock-wrap > #clock::before{
    content: 'JST';
    font-size: 16px;
    margin-right: 10px;
    color: cornflowerblue;
}
#clock-wrap > #clock-progress{
    width: 100%;
    height: 4px;
    background: #99A1C3;
}
#clock-wrap > #clock-progress > #clock-value{
    height: 4px;
    background: #FF508E;
}

header hr{
    border: none;
    height: 25px;
    width: 1px;
    background: lightgray;
    margin: 0 15px;
}
header > nav > a{
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 13px;
    text-decoration: none;
    font-size: 12px;
    color: #37496F;
}
header > nav > a > i.fas {
    display: block;
    font-size: 25px;
}
@keyframes header-float-in {
    0%{
        top: -40px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}


main{
    width: 1300px;
    margin: 0 auto;

}
@keyframes fade-in {
    0%   { opacity: 0 }
    100% { opacity: 1 }
}

main h1, h2{
    position: relative;
    margin: .6em auto .6em 15px;
    padding-left: 15px;
    border-left: ridge 6px cornflowerblue;
}
main h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
main h1::before, h2::before{
    position: absolute;
    bottom: -5px;
    left: -20px;
    content: '';
    height: 55%;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, white, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);
    background-size: 4px 4px;
    filter: drop-shadow(0 0 3px lightgray);
    z-index: -1;
}

.indicator{
    display: inline-block;
    background: darkred;
    padding: 0 6px;
    color: white;
    margin-left: 7px;
    border-radius: 2px;
    font-size: smaller;
}

.white-box{
    background: rgba(255,255,255,0.8);
    padding: 1px 20px 10px;
    box-shadow: 0 0 2px 1px #7A8DFE;
    margin-bottom: 1em;
}

.window-a{
    border: solid 2px #7A8DFE;
    background-color: rgba(255,255,255,0.4);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, white 10px, white 12px);
    backdrop-filter: blur(2px);
    cursor: default;
}
.window-a > .header{
    background: linear-gradient(#454555 ,#3C3C4D, #454555);
    padding: 5px 13px;
    color: #F9FAFC;
    font-size: 20px;
    position: relative;
}
.window-a > .header::before{
    position: relative;
    top: -2px;
    content: '';
    display: inline-block;
    height: 12px;
    width: 26px;
    background: #7A95FF;
    margin-right: 10px;
    border-radius: 6px 6px 6px 0;
    box-shadow: -2px 2px 0 #525886;
}
.window-a > .body{
    padding: 0 20px;
}
.window-a hr, .white-box hr{
    border: none;
    border-top: solid 1px #7A8DFE;
    margin: 1em 0;
}

input{
    font-family: 'Noto Sans JP', sans-serif;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"]{
    background: #ececec;
    border-radius: 3px;
    border: none;
    text-align: center;
    box-shadow: inset 0 0 2px lightgray;
    padding: 5px;
    box-sizing: border-box;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus{
    background: #E5E7EC;
    outline: none;
}

.buttons{
    margin: 1em auto;
    text-align: center;
}
.buttons.three > .button{
    width: 25%;
    margin: 10px 3%;
}
button, .button{
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    min-width: 120px;
    padding: 6px 10px;
    margin: 0 10px;
    font-size: 16px;
    background: white;
    border: none;
    box-shadow: 1px 1px 1px 1px #6a77cb;
    outline: none;
    border-radius: 1px;
    font-weight: 500;
    transition: transform .1s;
    text-align: center;
}
button:active, .button:active{
    transform: scale(0.95);
}
button.primary, .button.primary{
    color: white;
    background: #4F538A;
    box-shadow: 1px 1px 1px 1px #353a99;
}
button.smaller, .button.smaller{
    min-width: 0;
    padding: 2px 6px;
    font-size: smaller;
    margin: 0 5px;
}

.flash-message{
    position: fixed;
    top: 40vh;
    width: 100%;
    padding: 1em 30px;
    background: rgba(255,255,255,0.8);
    text-align: center;
    font-size: larger;
    transform: translateY(-50%);
    box-sizing: border-box;
    animation: 3s linear flash-message forwards;
}
@keyframes flash-message {
    0%, 5%{
        display: block;
        transform: scaleY(0);
    }
    12%{
        display: block;
        transform: scaleY(1);
    }
    93%{
        display: block;
        transform: scaleY(1);
    }
    100%{
        display: none;
        transform: scaleY(0);
    }

}
