body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    min-width: 1320px;
    overflow-y: scroll;
    background-color: #F4F5F9;
    background-image: repeating-linear-gradient(0deg,  #DEE0EC, #DEE0EC 1px, transparent 2px, transparent 100px),
                      repeating-linear-gradient(90deg, #DEE0EC, #DEE0EC 1px, transparent 2px, transparent 100px),
                      linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0), rgba(0,0,0,0.05));
    background-attachment: fixed;
    background-position: top center;
}
body[data-pagetype="back-triangle"]{
    background-image: repeating-linear-gradient(0deg,  #DEE0EC, #DEE0EC 1px, transparent 2px, transparent 100px),
                      repeating-linear-gradient(90deg, #DEE0EC, #DEE0EC 1px, transparent 2px, transparent 100px),
                      linear-gradient(115deg, #E4E7EE, #E4E7EE 30%, transparent 30%, transparent);
}
body.fade-in {
    animation: 1s ease fade-in;
}
body.hide{
    animation: .3s ease-in fade-out forwards;
}
@keyframes fade-out {
    0%   { opacity: 1 }
    100% { opacity: 0 }
}

p.center{
    text-align: center;
}
p.notice{
    color: darkred;
}
.lang-en{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

a{
    color: #265abd;
}
a[target=_blank]:not(.button):after{
    content: '\f35d';
    font-family: "Font Awesome 5 Free", monospace;
    text-decoration: none;
    margin-left: 5px;
    font-size: small;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

details > summary{
    cursor: pointer;
}

dialog{
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
dialog::backdrop, dialog + .backdrop{
    background: rgba(255,255,255,.4);
    backdrop-filter: blur(3px);
}

template{
    display: none;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
    padding-top: 6px;
    width: 100%;
    min-width: 1300px;
    background: linear-gradient(#23232D, #23232D 5px, #F9FAFC 5px, #F9FAFC);
    overflow: hidden;
    box-shadow: 0 0 3px darkgray;
    cursor: default;
    z-index: 100;
}
header.float-in{
    animation: .8s ease-out header-float-in;
}
header > div#title{
    font-size: 25px;
    padding-left: calc(50vw - 665px);
    padding-right: 40px;
    height: 60px;
    min-width: 350px;
    margin: -6px 0 0 0;
    color: #F9FAFC;
    line-height: 55px;
    background: linear-gradient(295deg, transparent, transparent 30px, #23232D 31px, #2D3049);
    flex-shrink: 0;
    font-weight: normal;
}
header > div#title > h1{
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}
header > div#title > a{
    display: inline-block;
    background: linear-gradient(90deg, #56649D, #475795);
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 40px;
    margin: 0 10px;
    color: #90ADFF;
    box-shadow: 0 0 4px black;
}
header > *:last-child{
    padding-right: calc(50vw - 665px);
    flex-shrink: 0;
}

header > #info{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
}
header > #info > #system-info{
    text-align: center;
    flex-grow: 1;
}
header > #info > #date{
    position: relative;
    background: #EFF1FD;
    width: 50px;
    box-shadow: inset 0 0 8px #cfd4ff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding: 3px 0;
    font-weight: 500;
    line-height: 16px;
    margin-right: 15px;
    font-size: 17px;
}
header > #info > #date::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 3px;
    background: cornflowerblue;
}
#date > #date-month{
    color: cornflowerblue;
    font-size: 15px;
}
header > #info > a{
    color: inherit;
    text-decoration: none;
}
header > #info > a > i.fas{
    margin-right: 8px;
}
header > #info > #clock-wrap{
    position: relative;
}
#clock-wrap > #clock{
    font-weight: 500;
    font-size: 17px;
}
#clock-wrap > #clock::before{
    content: 'JST';
    font-size: 16px;
    margin-right: 10px;
    color: cornflowerblue;
}
#clock-wrap > #clock-progress{
    width: 100%;
    height: 5px;
    background: #99A1C3;
}
#clock-wrap > #clock-progress > #clock-value{
    height: 5px;
    background: #FF508E;
}

header > #info > a#user-auth{
    flex-grow: 3;
    display: flex;
    align-items: center;
}

header hr{
    border: none;
    height: 25px;
    width: 1px;
    background: lightgray;
    margin: 0 15px;
}
header > nav > a{
    display: inline-block;
    width: 35px;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #37496F;
}
header > nav > a > i.fas {
    display: block;
    font-size: 25px;
}
@keyframes header-float-in {
    0%{
        top: -40px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}


main{
    width: 1300px;
    margin: 0 auto;

}
@keyframes fade-in {
    0%   { opacity: 0 }
    100% { opacity: 1 }
}

main h1, h2, h3{
    position: relative;
    margin: .6em auto;
    padding-left: 15px;
    border-left: ridge 6px cornflowerblue;
}
main h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
main h1::before, h2::before{
    position: absolute;
    bottom: -5px;
    left: -20px;
    content: '';
    height: 55%;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, white, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);
    background-size: 4px 4px;
    filter: drop-shadow(0 0 3px lightgray);
    z-index: -1;
}

.indicator{
    display: inline-block;
    background: darkred;
    padding: 0 6px;
    color: white;
    margin-left: 7px;
    border-radius: 2px;
    font-size: smaller;
}

footer{
    width: 1280px;
    margin: 40px auto 0;
    padding-bottom: 10px;
    border-top: dashed 1px gray;
    text-align: center;
}

.white-box{
    background: rgba(255,255,255,0.8);
    padding: 1px 20px 10px;
    box-shadow: 0 0 2px 1px #7A8DFE;
    margin-bottom: 1em;
}

.window-a{
    border: solid 2px #7A8DFE;
    background-color: rgba(255,255,255,0.8);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, white 10px, white 12px);
    /*backdrop-filter: blur(2px);*/
    cursor: default;
}
.window-a > .header{
    background: linear-gradient(#454555 ,#3C3C4D, #454555);
    padding: 5px 13px;
    color: #F9FAFC;
    font-size: 20px;
    position: relative;
}
.window-a > .header::before{
    position: relative;
    top: -2px;
    content: '';
    display: inline-block;
    height: 12px;
    width: 26px;
    background: #7A95FF;
    margin-right: 10px;
    border-radius: 6px 6px 6px 0;
    box-shadow: -2px 2px 0 #525886;
}
.window-a > .body{
    padding: 0 20px;
}
.window-a hr, .white-box hr{
    border: none;
    border-top: solid 1px #7A8DFE;
    margin: 1em 0;
}

input{
    font-family: 'Noto Sans JP', sans-serif;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
textarea{
    background: #ececec;
    border-radius: 3px;
    border: none;
    text-align: center;
    box-shadow: inset 0 0 2px lightgray;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
textarea{
    background: #E5E7EC;
    outline: none;
}
input[readonly], input[disabled],
textarea[disabled], textarea[readonly]{
    color: #585858;
    background: #d6d6d6;
    font-style: italic;
}

.buttons{
    margin: 1em auto;
    text-align: center;
}
.buttons.three > .button{
    width: 25%;
    margin: 10px 3%;
}
button, .button{
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    min-width: 120px;
    padding: 6px 10px;
    margin: 0 10px;
    font-size: 16px;
    background: white;
    border: none;
    box-shadow: 1px 1px 1px 1px #6a77cb;
    outline: none;
    border-radius: 1px;
    font-weight: 500;
    transition: transform .1s;
    text-align: center;
}
button:active, .button:active{
    transform: scale(0.95);
}
button.primary, .button.primary{
    color: white;
    background: #4F538A;
    box-shadow: 1px 1px 1px 1px #353a99;
}
button.smaller, .button.smaller{
    min-width: 0;
    padding: 2px 6px;
    font-size: smaller;
    margin: 0 5px;
}

select{
    outline: none;
    font-size: inherit;
    padding: 0 6px;
    background: whitesmoke;
    box-shadow: 0 0 3px lightgray, inset 0 0 5px white;
    border: none;
    border-radius: 3px;
    font-family: inherit;
}
select > option{
    text-align: right;
}

.top-options{
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px #7d93c6;
    padding: 15px 0;
    margin-bottom: 15px;
}
.top-options .info{
    background: rgba(255,255,255,0.5);
    border-radius: 1px;
    padding: 2px 10px;
}

.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-item-a{
    display: inline-flex; /* default */
    width: 32%;
    flex-shrink: 0;
    background: linear-gradient(#F6F7FB, #E1E5EF);
    box-shadow: 1px 2px 1px #9DA6BA, inset 0 0 1px gray;
    margin-left: 6px;
    margin-bottom: 15px;
    padding: 10px 17px;
    outline: solid 1px rgb(193, 193, 193);
    outline-offset: -6px;
    box-sizing: border-box;
    position: relative;
    color: black;
    text-decoration: none;
    transition: transform .1s;
}
.list-item-a:active{
    transform: scale(0.95);
}
.list-item-a::before{
    content: '';
    height: 100%;
    width: 4px;
    background: linear-gradient(#BDDBEB, #9A91C1);
    position: absolute;
    left: -7px;
    top: 1px;
}
.list-item-a::after{
    content: '';
    height: 19px;
    width: 5px;
    position: absolute;
    top: 10px;
    left: 3px;
    background: linear-gradient(
        #8898BC,
        #8898BC 5px,
    transparent 5px,
    transparent 7px,
        #98AFD7 7px,
        #98AFD7 12px,
    transparent 12px,
    transparent 14px,
        #B6C3D7 14px,
        #B6C3D7
    );
}
.list-item-a > .list-item-image{
    width: 60px;
    background: #E8EBF4;
    margin-right: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.list-item-a > .list-item-image > img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: solid 1px #BACBE7;
    box-sizing: border-box;
    display: block;
}
.list-item-a > .list-item-image > div.no-image{
    height: 60px;
    background: #87878e;
    color: lightgray;
    font-size: 12px;
    border: solid 1px gray;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
}
.list-item-data{
    width: 100%;
    font-size: 13px;
    overflow-x: hidden;
}
.list-item-data > .title{
    font-size: 20px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: dashed 1px dimgray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-item-data > .title-ruby{
    font-size: 11px;
    line-height: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-item-a > .list-item-image > .additional{
    background: #4e4e4e;
    color: white;
    text-align: center;
    font-size: 13px;
}

.list-item-b{
    display: block;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(white,whitesmoke);
    margin-bottom: 10px;
    padding: 15px 25px;
    outline: solid 1px lightgray;
    outline-offset: -5px;
}
.list-item-b > .title{
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: dashed 1px gray;
}
.list-item-b .underline{
    border-bottom: solid 1px dimgray;
    padding: 2px;
}

table.table{
    width: calc(100% + 30px);
    margin: 10px -15px;
    font-size: 16px;
    border-spacing: 15px 6px;
}
table.table th{
    background: linear-gradient(90deg, #70738d, #A7AFC9);
    color: white;
    font-weight: normal;
    padding: 2px 10px 2px 13px;
    text-align: left;
    box-shadow: 0 1px 1px #5d6381;
    position: relative;
    width: 170px;
    height: 28px;
    box-sizing: border-box;
    white-space: nowrap;
}
table.table th::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    top: 3px;
    left: 3px;
    background: whitesmoke;
}
table.table td{
    border-bottom: dashed 1px gray;
    padding: 2px 0;
    vertical-align: top;
}
table.table td.spacer{
    opacity: 0;
    /*height: 100%;*/
}

.twitter-share-button{
    color: transparent;
}

.flash-message{
    position: fixed;
    top: 40vh;
    width: 100%;
    padding: 1em 30px;
    background: rgba(255,255,255,0.8);
    text-align: center;
    font-size: larger;
    transform: translateY(-50%);
    box-sizing: border-box;
    animation: 3s linear flash-message forwards;
    z-index: 99;
}
@keyframes flash-message {
    0%, 5%{
        display: block;
        transform: scaleY(0);
    }
    12%{
        display: block;
        transform: scaleY(1);
    }
    93%{
        display: block;
        transform: scaleY(1);
    }
    100%{
        display: none;
        transform: scaleY(0);
    }

}

.title-underline{
    border-bottom: solid 2px black;
    position: relative;
    box-sizing: border-box;
    padding: 3px 0;
}
.title-underline::before{
    position: absolute;
    bottom: 4px;
    right: 0;
    content: '';
    width: 25px;
    height: 5px;
    background: repeating-linear-gradient(-45deg, gray, gray 1px, transparent 1px, transparent 2px, transparent 3px, gray 4px, gray 5px);
}
.title-underline::after{
    position: absolute;
    bottom: -2px;
    right: 0;
    content: '';
    width: 45px;
    height: 2px;
    background: linear-gradient(90deg, gray, gray 38px, white 38px, white 40px, black 40px, black);
}
